aniso8601==7.0.0
argh==0.26.2
arrow==0.17.0
backcall==0.1.0
boto3==1.13.10
botocore==1.16.10
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
Django==2.2.6
django-cors-headers==3.2.1
django-crispy-forms==1.9.0
django-dramatiq==0.9.1
django-extensions==2.2.8
django-filter==2.2.0
django-graphql-jwt==0.3.0
django-storages==1.9.1
docutils==0.15.2
dramatiq==1.10.0
gevent==21.1.1
google-api-core==1.25.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
graphene==2.1.8
graphene-django==2.9.0
graphene-file-upload==1.2.2
graphql-core==2.3.1
graphql-relay==2.0.1
greenlet==1.0.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jmespath==0.10.0
oauth2client==4.1.3
parso==0.6.2
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pika==1.1.0
Pillow==7.0.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.4
protobuf==3.14.0
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
PyJWT==1.7.1
python-dateutil==2.8.1
python-decouple==3.3
python-resize-image==1.1.19
pytz==2020.5
PyYAML==5.4
redis==3.5.3
requests==2.25.1
rsa==4.7
Rx==1.6.1
s3transfer==0.3.3
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.0
traitlets==4.3.3
typed-ast==1.4.0
uritemplate==3.0.1
urllib3==1.25.9
watchdog==0.8.3
watchdog-gevent==0.1.0
wcwidth==0.1.8
zope.event==4.5.0
zope.interface==5.2.0